@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* GENERALES */
:root{
  /* Colors */
  --yellow:rgba(250, 212, 27, 1);
  --creeme:rgba(250, 248, 235, 1);
  --grey1:rgba(147, 149, 152, 1);
  --grey2:rgba(118, 119, 123, 1);
  --grey3:rgba(84, 86, 91, 1);
  --black:rgba(0, 0, 0, 1);
  --white: #FFFFFF;
  --generalPadding: 0px 25vw;
  --generalBoxShadow:1px 1px 2px var(--grey3);
}

*{
  margin:0px;
  padding: 0px;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  cursor:default;
  list-style: none;
  color: var(--black);
  text-decoration: none;
  transition: all 250ms;
  z-index: 0;
}

a{
  font-size: 1.6rem;
  color: var(--yellow);
  text-shadow: 0.1px -0.1px 0.3px var(--grey1) ;
}

a:hover{
  text-shadow: 0.1px -0.1px 0.3px var(--yellow);
  cursor: pointer;
}

.withBorder{
  border: 1.5px solid var(--yellow);
  border-radius: 3px;
  padding:0px 1rem;
}

.withBorder:hover{
  border: 1.5px solid var(--yellow);
}

p{
  font-size: 1.6rem;
  color: var(--grey3);
  margin-top: 1vh;
  line-height: 2.4rem;
}

h1{
  font-size: 5rem;
  text-indent: -4px;
  color: var(--yellow);
  text-shadow: 1px 1px 1px var(--grey1);
  line-height: 5rem;
}

h2{
  line-height: 5.5rem;
  color: var(--grey3);
  font-size: 4rem;
}

body{
  display: flex;
  flex-direction: column;
  align-content: center;
  background: rgb(250,248,235);
  background: linear-gradient(135deg, rgba(250,248,235,1) 0%, rgba(241,238,219,1) 100%);
  min-width: 200px;
}

/* FIN GENERALES */

/* HEADER */
body header{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9rem 1.8rem;
  background-color: rgba(250, 248, 235, 0.9);
  transition: all 400ms;
  z-index: 1;
}

body header ul{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

body header a{
  font-size: 1.4rem;
  color: var(--grey3);
}

body header a:hover{
  color: var(--yellow);
}

body header .withBorder{
  border: 1.5px solid var(--grey1);
}

/* FIN HEADER */

/* MAIN */
body main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  /* SECCIONES */
    /* GENERALES */
body main div.sectionsBox{
  display: flex;
  flex-direction: column;
}

body main div.sectionsBox ul.withPizza li::before{
  display: block;
  content: "";
  position: relative;
  top: 1rem;
  left: -1rem;
  width: 0.3rem;
  border-left: .5rem solid var(--black);
  border-top: .25rem solid transparent;
  border-bottom: .25rem solid transparent;
}
    /* END GENERALES */
    /* SECTION */
      /* GENERALES */
body main div.sectionsBox section{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  flex-basis: 100vh;
}

body main div.sectionsBox section:first-child{
  flex-basis: calc(100vh - 4.2rem);
}
      /* END GENERALES */
      /* SECTION HOME */
body main div.sectionsBox section#home{
  padding: var(--generalPadding);
}

body main div.sectionsBox section#home span,
body main div.sectionsBox section#home h2,
body main div.sectionsBox section#home h1,
body main div.sectionsBox section#home p{
  flex-basis: 100%;
}

body main div.sectionsBox section#home span{
  color: var(--grey2);
  font-size: 1rem;
}

body main div.sectionsBox section#home h2{
  line-height: 5.5rem;
  color: var(--grey3);
  font-size: 5rem;
}

body main div.sectionsBox section#home p{
  margin-right: 15vw;
  margin-bottom: 3vh;
}
      /* END SECTION HOME */

      /* SECTION ABOUT */
body main div.sectionsBox section#about{
  padding: var(--generalPadding);
  justify-content: space-between;
}

body main div.sectionsBox section#about div.aboutText{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body main div.sectionsBox section#about h2{
  flex-basis: 100%;
}

body main div.sectionsBox section#about p{
  flex-basis: 60%;
}

body main div.sectionsBox section#about ul{
  margin-left: 1rem;
  margin-top: 1rem;
  flex-basis: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
}



body main div.sectionsBox section#about img{
  width: 310px;
  box-shadow: var(--generalBoxShadow);
  border-radius: 3px;
  margin-top: 1vh;
}


      /* END SECTION ABOUT */

      /* SECTION EXPERIENCE */

body main div.sectionsBox section#experience{
  padding: var(--generalPadding);
  justify-content: flex-start;
}

body main div.sectionsBox section#experience h2{
  flex-basis: 100%;
  margin-bottom: 2vh;
}

body main div.sectionsBox section#experience ul{
  margin-right: 3rem;
}

body main div.sectionsBox section#experience div.panel{
  min-height: 35%;
}

body main div.sectionsBox section#experience ul li.item{
  line-height: 2.5rem;
  border-left: 4px solid var(--grey1);
  padding-left: 15px;
  transition: all 300ms;
}

body main div.sectionsBox section#experience ul li.item:hover{
  background-color: rgba(147, 149, 152, 0.1);
  border-color: var(--grey2);
}

body main div.sectionsBox section#experience ul li.item.active{
  background-color: rgba(147, 149, 152, 0.2);
  border-color: var(--black);
}

body main div.sectionsBox section#experience .panel{
  display: none;
  flex-basis: 33vw;
  min-height: 20vh;
}

body main div.sectionsBox section#experience .panel h3{
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1rem;

}

body main div.sectionsBox section#experience .panel time{
  color: var(--grey2);
  font-size: 1.1rem;
}

body main div.sectionsBox section#experience .panel ul{
  margin-top: 1vh;
  margin-left: 1vw;
}

body main div.sectionsBox section#experience .panel ul li::before{
  display: block;
  content: "";
  position: relative;
  top: 1rem;
  left: -1rem;
  width: 0.3rem;
  border-left: .5rem solid var(--black);
  border-top: .25rem solid transparent;
  border-bottom: .25rem solid transparent;
}
      
      /* ENDSECTION EXPERIENCE */

      /* SECTION WORK */

      /* SECTION WORK GENERALES */
body main div.sectionsBox section#work{
  padding: 0px 20vw;
  font-family: "Noto Sans";
}

body main div.sectionsBox section#work h2{
  flex-basis: 100%;
}
      /* END SECTION WORK GENERALES */

      /* SECTION WORK bigCard */

body main div.sectionsBox section#work div.bigCard{
  background-image: url("https://raw.githubusercontent.com/7dvys/prueba1/master/portfolio_banner.png");
  background-size: cover;
  background-position: center;
  box-shadow: var(--generalBoxShadow);
  border-radius: 3px;
  min-height: 40vh;
  margin: 2vh 0px;
  border-radius: .8rem;
  overflow: hidden;
  margin-bottom: 10vh;
  border: 1px solid var(--grey1);


}

body main div.sectionsBox section#work div.bigCard div.content{
  display: flex;
  padding: 3vh 2vw;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
  height: calc(100% - 6vh);
  gap:1vh;
  background-color: rgba(0, 0, 0, 0.8);
  
  
}

body main div.sectionsBox section#work div.bigCard div.content:hover{
  background-color: rgba(0, 0, 0, 0);
}

body main div.sectionsBox section#work div.bigCard div.content:hover div.textAndLinks p,
body main div.sectionsBox section#work div.bigCard div.content:hover div.detailsAndControls div.details,
  body main div.sectionsBox section#work div.bigCard div.content:hover div.textAndLinks h3{
  opacity: 0;
}

body main div.sectionsBox section#work div.bigCard div.content div.textAndLinks{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

body main div.sectionsBox section#work div.bigCard div.content div.textAndLinks h3{
  font-size: 3rem;
  color: var(--white);
  font-family: 'Noto Sans';
}

body main div.sectionsBox section#work div.bigCard div.content div.textAndLinks div.links{
  display: flex;
  gap: 1rem;
}

body main div.sectionsBox section#work div.bigCard div.content div.textAndLinks div.links img{
  height: 3rem;
  filter: invert(83%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(112%) contrast(103%);
}

body main div.sectionsBox section#work div.bigCard div.content div.textAndLinks p{
  flex-basis: 80%;
  color: var(--grey1);
  margin: 0px;
}

body main div.sectionsBox section#work div.bigCard div.content div.detailsAndControls{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

body main div.sectionsBox section#work div.bigCard div.content div.detailsAndControls div.details{
  display: flex;
  flex-direction: column;
}

body main div.sectionsBox section#work div.bigCard div.content div.detailsAndControls div.details span{
  color: var(--white);
}

body main div.sectionsBox section#work div.bigCard div.content div.detailsAndControls div.controls{
  display: flex;
  filter: invert(83%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(112%) contrast(103%);
  gap: 1rem;
}
      /* END SECTION WORK bigCard */        
      /* SECTION WORK PROJECTS */
body main div.sectionsBox section#work div.projects{
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  box-shadow: 0px -1px 1px -1px var(--grey1),0px 1px 1px -1px var(--grey1);
  gap: 1rem;
  padding: 1rem 0px;
}

body main div.sectionsBox section#work div.projects::-webkit-scrollbar{
  display: none;
}

body main div.sectionsBox section#work div.projects div.project{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 14rem;
  min-height: 9rem;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey1);
  


}

body main div.sectionsBox section#work div.projects div.project div.links img{
  height: 1rem;
}

body main div.sectionsBox section#work div.projects div.project p{
  flex-basis: 80%;
}

      /* END SECTION WORK PROJECTS */
      /* END SECTION WORK */

    /* END SECTION */
  /* END SECCIONES */

  /* ASIDE */
body div.aside{
  flex-basis: 100px;
  /* padding: 0px 1rem; */
}

body div.aside.asideRight{
}

body div.aside.asideLeft{
}
  /* END ASIDE */
/* END MAIN */

/* FOOTER */
 
/* / Tablets en horizonal y escritorios normales */
   /* ------------------------------------------------------------------------- / */
@media (min-width: 768px) and (max-width: 1199px) {

 }
 
/* / Móviles en horizontal o tablets en vertical */
   /* ------------------------------------------------------------------------- / */
@media (max-width: 767px) {

 }
 
/* / Móviles en vertical */
   /* ------------------------------------------------------------------------- */ 
@media (max-width: 480px) {

}